.blog-entry .img-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 24px 24px 0px 0px;
    margin-bottom: 16px;
}

.blog-entry img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-entry h3 {
    margin: 16px 0px;
}

.blog-entry a {
    color: black;
    text-decoration: none;
}

.blog-entry a:hover {
    cursor: pointer;
    color: rgb(23, 78, 166);
}

.blog-entry p {
    color: rgb(60, 64, 67);
}
