body {
    margin: 0;
    font-family: 'Google Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2em;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#navbar > * {
    margin: 0.5em;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

#navbar ul li a {
    text-decoration: none;
    color: #5F6368;
}

#navbar ul li a:visited {
    text-decoration: none;
    color: #5F6368;
}

#navbar #hamburger {
    display: none;
}

@media (max-width: 600px) {
    #navbar {
        flex-direction: column;
    }

    #navbar ul {
        display: none;
        flex-direction: column;
        gap: 0.5em;
    }

    #navbar.open ul {
        display: flex;
    }

    #navbar #hamburger {
        display: block;
    }
}

#top-header {
    position: relative;
    background: url('android-header.jpeg') no-repeat center center / cover;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    padding: 50px;
}

#top-header h1 {
    margin: 20px;
}

#social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}

#social-media-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

#social-media-icons img {
    max-width: 60%;
    max-height: 60%;
}

@media (min-width: 600px) {
    #social-media-icons a:hover img {
        max-width: 80%;
        max-height: 80%;
    }
}
